
*.ppm
*.csv
CNN/SavedNetworks/checkpoint
*.data-00000-of-00001
CNN/SavedNetworks/model.chkpt.meta
CNN/SavedNetworks/model.chkpt.index
CNN/BelgiumTS/Testing/Readme.txt
CNN/BelgiumTS/Training/Readme.txt
